//
// Card Design
//

.card {
  display: flex;
  background-color: rgb(41, 41, 41);
  color: rgb(165, 165, 165);
  border-radius: 10px;

  img {
    width: 45%;
    border-radius: 10px;
  }

  .info {
    margin-left: 10px;

    p {
      margin-top: 10px;
    }
  }
}
