//
// Card Design
//

.card {
  display: flex;
  background-color: whitesmoke;
  border-radius: 10px;

  img {
    width: 45%;
    border-radius: 10px;
  }

  .info {
    margin-left: 10px;

    p {
      margin-top: 10px;
    }
  }
}
