//
// Results Container
//

.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

//
// Cards Container
//

.cardsContainer {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

//
// Error
//

.error {
  color: white;
  text-align: center;
}
