//
// 768px
//

@media (min-width: $md) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 3em;
  }

  #searchBar {
    width: 55%;
  }
}

//
// 1200px
//

@media (min-width: $xl) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  #searchBar {
    width: 45%;
  }
}
