//
// Header
//

body {
  font-family: $gen-font;
}

//
// Header
//

header {
  font-family: $title;
  color: $green;
  text-align: center;
  line-height: 3rem;
}

//
// Results Heading
//

.resultsHeader {
  color: white;
  text-align: center;
}
